* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #1f2039;
  font-size: 1em;
  font-family: "Manrope", sans-serif;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: "Montserrat";
}
h2 {
  color: #f9f8ff;
}
p,
li {
  font-size: 1.3em;
  font-family: "Manrope";
  color: #f9f8ff;
}

a {
  color: #242424;
  text-decoration: none;
  font-family: "Manrope";
}
em {
  color: #a5b4fc;
  font-style: normal;
}

.cta {
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  border-radius: 50px;
  padding: 20px 30px;
  display: inline-block;
  margin-top: 70px;
}
.voir-portfolio {
  display: flex;
  justify-content: center;
}
.container {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
  padding: 50px;
  margin: auto;
}
a:hover {
  text-decoration: underline;
}
.cta:hover {
  background: linear-gradient(#696484, #8788ba);
  text-decoration: none;
}
.icons:hover {
  opacity: 0.5;
}
section {
  padding: 80px;
}
.container h2 {
  margin-top: 30px;
}

.container ul {
  margin-top: 30px;
}
.a-propos-main {
  width: 60%;
  margin: auto;
  min-height: 800px;
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 50px;
}
.home-presentation {
  display: flex;
  height: 420px;
  width: 402px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
footer,
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  background-color: white;
  padding: 20px 50px 20px 50px;
}
.links,
.social-medias {
  display: flex;
  gap: 50px;
}
.dernier-projet {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  height: auto;
}
.dernier-projet h2 {
  color: #1f2039;
  font-size: 2em;
}
.dernier-projet-photos {
  display: flex;
  width: 90%;
  max-width: 1060px;
  min-height: 650px;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.portfolio-section-photos {
  background-color: white;
}
.portfolio-section-photos h2 {
  margin-bottom: 80px;
  color: #242424;
}
.paysages {
  display: grid;
  gap: 15px;
  grid-template: repeat(3, 300px) / repeat(3, 1fr);
  margin-bottom: 80px;
}
.portraits {
  display: grid;
  gap: 15px;
  grid-template: repeat(2, 400px) / repeat(3, 1fr);
  margin-bottom: 80px;
}
.portfolio-photos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}
.lien-conteneur-photo {
  position: relative;
  overflow: hidden;
}
.photo-hover {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9f8ff;
}
.lien-conteneur-photo:hover .photo-hover {
  z-index: 2;
}
.tarifs-page {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.tarifs-main {
  width: 70%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
td,
th {
  border: 1px solid #8788ba;
  color: white;
  padding: 50px 0 50px 0;
  text-align: center;
}
th {
  padding: 20px 0 20px 0;
}
table {
  border-collapse: collapse;
  margin: auto;
  width: 100%;
}
.tarifs h1 {
  font-weight: 300;
  margin-left: 5px;
}
.studio-pro,
.tarifs {
  padding: 0;
  margin: 60px 0 60px 0;
}
.studio-pro h2 {
  color: #a5b4fc;
  margin-bottom: 50px;
}
.jobs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 350px;
  margin-top: 50px;
}
@media (max-width: 860px) {
  .jobs {
    justify-content: center;
  }
}

.jobs div {
  border-bottom: 1px solid #8788ba;
  border-right: 1px solid #8788ba;
  width: 260px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 50px;
}
.jobs h3,
.jobs h4 {
  color: #8788ba;
}
.jobs h3 {
  font-size: 1.5em;
}
.jobs p {
  font-size: 1em;
}
.jobs p:last-child {
  font-size: 0.7em;
}
/* form */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 600px;
  margin: auto;
}
form h2 {
  color: #8788ba;
  font-size: 2.5em;
  margin-bottom: 50px;
}

form label {
  color: white;
}
.name-email {
  width: 80vw;
  max-width: 525px;
  display: flex;
  gap: 20px;
}
.name-email > * {
  flex-grow: 1;
}
input {
  width: 100%;
}
#submit {
  margin-top: 50px;
  width: 250px;
  height: 60px;
  border-radius: 50px;
  color: white;
  font-size: 1em;
  border: none;
  background: linear-gradient(#8e86b5, #acaeed);
}
label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
}
textarea {
  width: 80vw;
  max-width: 525px;
  height: 200px;
  resize: none;
}
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 2em;
  }
  form {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .name-email {
    flex-direction: column;
  }
}
